h1{
    font-family: 'Indie Flower', cursive;
}
body {
    font-family: 'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
}
#breakfast ,#lunch{
    list-style-type: none;
}
#aboutustitle{
    text-align: center;
}
.one,.aboutnav{
    background-color: #9A8C98;
    text-align: center;
}

#aboutcenter,#maincenter,article,.two{
    background-color: #C9ADA7 ;
}
body{
    background-color: #F2E9E4;
}
/* .navcontainer{
    position: static;
} */
.litwo{
   position:fixed;
    margin:30px;
}
.lione,.three{
    float:left;
    margin:100px;
}

a:link{
    color:red green;
}
a:visited{
    color:silver;
}
.lione,.litwo,.lthree{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    widows: 250px;
    text-decoration: none;

}

.breakfast{
float:right;
}
.Restaurant {
    
    position:relative;
    right:50px;
}
#homecenter{
    position: relative;
    bottom:0px;
}
